@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #F0F0F0;
  }

  .age-calculator-container {
    max-width: 1200px;
    margin: 5rem auto;
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 15px 15px 105px 15px;
  }

  .input-row {
    padding: 1rem;

    .input-field {
      width: 150px;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid #0e0e0e;
      border-radius: 5px;
      font-size: 32px;
      font-weight: 700;
      outline: none;
    }
  
    .input-field:focus {
      border: 1px solid hsl(259, 100%, 65%);
    }

    .input-col {
      display: flex;
      flex-direction: column;

      .input-label {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-bottom: 1rem;
        color: #808080;
        font-style: normal;
        

      }

    }
  }



  .hr-separator {
    padding: 1rem;
    width: 1150px;

    .icon-container {
      position: relative;
      border-radius: 50%;
      background-color: #0e0e0e;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      right: 20px;
    }
  }

  .age-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    p {
      font-family: 'Poppins', sans-serif;
      font-size: 64px;
      font-weight: 700;
      font-style: italic;
    }

  }
